In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
df_raw = pd.read_csv('./data/sales_data.csv')

In [3]:
l, c = df_raw.shape
print(f'{l} lihas e {c} colunas' )

1000 lihas e 5 colunas

In [4]:
df_raw['sale_date'] = pd.to_datetime(df_raw["sale_date"])

In [5]:
columns_with_null = df_raw.columns[df_raw.isnull().any()].tolist()

In [6]:
missing_values = {}

for col in columns_with_null:
    missing_values[col] = df_raw[col].isna().sum()

In [7]:
aux1 = df_raw['category'].value_counts().idxmax()

In [8]:
df1 = df_raw.copy()

In [9]:
df1['category'] = df1['category'].fillna(aux1)

In [10]:
cats = df1['category'].unique()

In [11]:
vendas_cat = df1.groupby('category')['sale_id'].count()

In [12]:
preco_medio_cat = df1.groupby('category')['price'].mean()

In [13]:
df1['price'] = df1.apply(lambda row: preco_medio_cat.get(row['category']) if pd.isna(row['price']) else row['price'], axis=1)

In [14]:
print("Total Number of Sales per Category:")
print(vendas_cat)

Total Number of Sales per Category:
category
Books            179
Clothing         185
Electronics      238
Home & Garden    201
Sports           197
Name: sale_id, dtype: int64

In [15]:
print("\nAverage Price per Category:")
print(preco_medio_cat)

Average Price per Category:
category
Books            101.690430
Clothing         103.822460
Electronics      100.468345
Home & Garden    102.661415
Sports           101.188330
Name: price, dtype: float64

In [16]:
print("\nMissing Values Handled:")
print(missing_values)

Missing Values Handled:
{'category': 30, 'price': 49}

In [17]:
pickle.dump(df1, open('./data/sales_data.pkl', 'wb'))

In [18]:
df1.head(10)

   sale_id  sale_date       category       price  quantity
0        1 2023-01-01  Home & Garden  102.661415         6
1        2 2023-01-02         Sports  121.772999         7
2        3 2023-01-03          Books  114.430277         4
3        4 2023-01-04         Sports  106.716521         7
4        5 2023-01-05         Sports   76.285766         9
5        6 2023-01-06       Clothing  114.144051         2
6        7 2023-01-07          Books  156.460735         3
7        8 2023-01-08          Books  140.362601         5
8        9 2023-01-09          Books  147.795599         3
9       10 2023-01-10         Sports   84.663530         8